a {
  text-decoration: none;
}
.emoji {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 4rem;
  width: 8rem;
  height: 8rem;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #d1d2d3;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emoji > img {
  width: 4.5rem;
  height: 4.5rem;
}
.title,
.text {
  margin: 0;
  padding: 0;
  text-align: center;
}
.title {
  width: 8rem;
}
.text {
  width: 8rem;
}
