@mixin bigpc {
  @media (min-width: 1100px) {
    @content;
  }
}
@mixin pc {
  @media (max-width: 1100px) and (min-width: 900px) {
    @content;
  }
}
@mixin tab {
  @media (max-width: 900px) and (min-width: 500px) {
    @content;
  }
}
@mixin sp {
  @media (max-width: 500px) {
    @content;
  }
}

html, body {
  color: #D1D2D3;
  background-color: #1B1D21;
  font-family: M PLUS\ 1p,sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
}
main {
  margin: 5rem;
}