---
import "../styles/_global.scss"
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tsum.ug - Page Not Found</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+3D&display=swap" rel="stylesheet">
    <style type="scss">
      main {
        position: relative;
        text-align: center;
      }
      h1, h2 {
        margin: 1rem;
        padding: 0;
        font-family: "Rock 3D", system-ui;
        font-weight: 400;
        font-style: normal;
      }
      h1 {
        font-size: 8rem;
      }
      h2 {
        font-size: 2rem;
      }
      /* thx: https://codepen.io/svdn/pen/qywmzp */
      @keyframes cat_walking_animation {
        0% {
          left: 0;
          transform: rotateY(180deg);
        }
        49% {
          transform: rotateY(180deg);
        }
        50%{
          left: calc(100% - 25rem);
          transform: rotateY(0deg);
        }
        99%{
          transform: rotateY(0deg);
        }
        100% {
          left: 0;
          transform: rotateY(180deg);
        }
      }
      .CatCage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        .WalkingCat {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 25rem;
          animation: cat_walking_animation 8s linear infinite;
        }
      }
    </style>
  </head>
	<body>
    <div class="CatCage">
      <img class="WalkingCat" src="walkingcat.gif">
    </div>
		<main>
      <h1>404</h1>
      <h2>Page Not Found</h2>
		</main>
	</body>
</html>