---
import fs from 'fs';
import path from 'path';

const filePath = path.resolve('./src/data/photos.json');
const photos = JSON.parse(fs.readFileSync(filePath, 'utf-8'));
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tsum.ug - Gallery</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+3D&display=swap" rel="stylesheet">
    <style type="scss">
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        list-style-type: none;
        padding-left: 0;
      }

      li {
        position: relative;
        width: 100%;
        padding-top: 100%;
        margin-left: 0;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    </style>
  </head>
	<body>
		<ul>
      {photos.map((photo) => (
        <li>
          <img src={photo.url} alt={photo.filename} />
        </li>
      ))}
		</ul>
	</body>
</html>