---
import fs from 'fs';
import path from 'path';

const filePath = path.resolve('./src/data/photos.json');
const photos = JSON.parse(fs.readFileSync(filePath, 'utf-8'));
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tsum.ug - Gallery</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+3D&display=swap" rel="stylesheet">
    <style type="scss">
      main {
        position: relative;
      }
    </style>
  </head>
	<body>
    <div class="CatCage">
      <img class="WalkingCat" src="walkingcat.gif">
    </div>
		<main>
      {photos.map((photo) => (
        <li>
          <img src={photo.url} alt={photo.filename} />
        </li>
      ))}
		</main>
	</body>
</html>