---
import "../styles/_global.scss"
import IconCard from "../components/IconCard.astro"
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tsum.ug</title>
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&amp;display=swap" rel="stylesheet">
		<style type="scss">
			.pageHeader {
				text-align: center;
			}
			.IconCardWrapper {
				display: flex;
				flex-wrap : wrap;
				gap: 2rem;
			}
			.MusicPlayer {
				max-width: 1100px !important;
			}
			/* sp, tablet */
			@media (max-width: 900px) {
				main, section, .IconCardWrapper {
					display: flex;
					flex-flow: column;
					justify-content: center;
					align-items: center;
				}
			}
		</style>
	</head>
	<body>
		<main>
			<section class="pageHeader">
				<h1>Tsumugu</h1>
				<p>ものづくりを嗜んでいる学生</p>
			</section>
			<section>
				<h2>Portfolio</h2>
				<div class="IconCardWrapper">
					<IconCard href="https://tsumugu.tech/" text="ポートフォリオ" icon="brands/tsumugutech.png" description="Webサイト" />
					<IconCard href="https://student.redesigner.jp/students/306a6993e150e5050ea9a22a9a629935" text="ポートフォリオ" icon="brands/redesigner.svg" description="PDF" />
				</div>
			</section>
			<section>
				<h2>SNS</h2>
				<div class="IconCardWrapper">
					<IconCard href="https://x.com/tsumugu1515" text="X" icon="brands/x.png" description="メイン" />
					<IconCard href="https://www.instagram.com/tsumugu.yamaguchi/" text="Instagram" icon="brands/instagram.png" description="写真など" />
					<IconCard href="https://www.facebook.com/tsumugu.yamaguchi/" text="Facebook" icon="brands/facebook.png" description="あまり使わない" />
					<IconCard href="https://github.com/tsumugu" text="GitHub" icon="brands/github.png" description="色々上げてる" />
					<IconCard href="https://qiita.com/tsumugu" text="Qiita" icon="brands/qiita.png" description="低浮上" />
					<IconCard href="https://zenn.dev/tsumugu" text="Zenn" icon="brands/zenn.png" description="低浮上" />
					<IconCard href="https://dev.to/tsumugu" text="dev.to" icon="brands/devto.png" description="使ってない" />
					<IconCard href="http://www.nicovideo.jp/user/47747351" text="niconico" icon="brands/niconico.png" description="昔投稿してた" />
					<IconCard href="https://www.youtube.com/channel/UC0PuWc8GyBpepfjysWkXukQ/videos" text="YouTube" icon="brands/youtube.png" description="見る専" />
				</div>
			</section>
			<section>
				<h2>Favorite</h2>
				<div class="IconCardWrapper">
					<IconCard href="https://photos.app.goo.gl/5UwNQpwia8HHuQdz7" text="猫" emoji="🐱" description="吸って体力倍増" />
					<IconCard href="https://www.inoriminase.com/" text="水瀬いのり" emoji="🍀" description="透き通る歌声" />
					<IconCard href="https://gochiusa.com/" text="ごちうさ" emoji="🐰" description="きらら好き" />
					<IconCard href="https://www.lovelive-anime.jp/" text="ラブライブ" icon="brands/lovelive.png" description="人生のバイブル" />
					<IconCard href="https://www.yamaha-motor.co.jp/" text="バイク" emoji="🏍" description="オフ車が好き" />
				</div>
			</section>
			<section>
				<h2>Music</h2>
				<iframe class="MusicPlayer" allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/jp/playlist/tsum-ug/pl.u-8DY9CoxyyXm0"></iframe>			</section>
		</main>
	</body>
</html>