---
import "../styles/_global.scss"
import IconCard from "../components/IconCard.astro"
import NameCard from "../components/NameCard.jsx"
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tsum.ug</title>
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Space+Mono&amp;display=swap" rel="stylesheet">
		<style type="scss">
			section {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				div {
					display: flex;
					flex-direction: row;
					gap: 2rem;
					.iconcard {
						flex-direction: column;
						gap: 0.25rem;
					}
				}
			}
			
			// .pageHeader {
			// 	text-align: center;
			// }
			.IconCardWrapper {
				display: flex;
				flex-wrap : wrap;
				gap: 2rem;
			}

			.MusicPlayer {
				margin-top: 2rem;
				max-width: 1100px !important;
			}

			.NameCardWrapper {
				flex-direction: column;
				align-items: center;
			}

			.NameCardWrapper:hover {
				cursor: grabbing;
			}

			.namecardH2 {
				margin-bottom: -0.2rem;
			}

			/* sp, tablet */
			@media (max-width: 900px) {
				section, .IconCardWrapper, .AboutMeInner {
					display: flex;
					flex-flow: column;
					justify-content: center;
					align-items: center;
				}
				
				.MusicPlayer {
					width: 100% !important;
				}
			}
		</style>
	</head>
	<body>
		<main>
			<section>
				<h2>Hobby</h2>
				<div class="IconCardWrapper">
					<IconCard href="/gallery" text="ã‚«ãƒ¡ãƒ©" emoji="ðŸ“·" description="FUJIFILM X-S20" />
					<IconCard href="/gallery#DSCF4256.JPG" text="ãƒã‚¤ã‚¯" emoji="ðŸ" description="WR250R" />
				</div>
			</section>
			<section>
				<h2 class="namecardH2">NameCard</h2>
				<NameCard client:only="react" />
			</section>
			<section>
				<h2>Favorite</h2>
				<div class="IconCardWrapper">
					<IconCard href="/gallery#IMG_2027.JPG" text="çŒ«" emoji="ðŸ±" description="å¸ã£ã¦ä½“åŠ›å€å¢—" />
					<IconCard href="https://gochiusa.com/" text="ã”ã¡ã†ã•" emoji="ðŸ°" description="ãã‚‰ã‚‰å¥½ã" />
					<IconCard href="https://www.lovelive-anime.jp/" text="ãƒ©ãƒ–ãƒ©ã‚¤ãƒ–" icon="brands/lovelive.png" description="äººç”Ÿã®ãƒã‚¤ãƒ–ãƒ«" />
				</div>
				<iframe class="MusicPlayer" allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/jp/playlist/tsum-ug/pl.u-8DY9CoxyyXm0"></iframe>
			</section>
			<section>
				<h2>SNS</h2>
				<div class="IconCardWrapper">
					<IconCard href="https://x.com/tsumugu1515" text="X" icon="brands/x.png" description="ãƒ¡ã‚¤ãƒ³" />
					<IconCard href="https://www.instagram.com/tsumugu.yamaguchi/" text="Instagram" icon="brands/instagram.png" description="å†™çœŸãªã©" />
					<IconCard href="https://www.facebook.com/tsumugu.yamaguchi/" text="Facebook" icon="brands/facebook.png" description="ã‚ã¾ã‚Šä½¿ã‚ãªã„" />
					<IconCard href="https://github.com/tsumugu" text="GitHub" icon="brands/github.png" description="è‰²ã€…ä¸Šã’ã¦ã‚‹" />
					<IconCard href="https://qiita.com/tsumugu" text="Qiita" icon="brands/qiita.png" description="ä½Žæµ®ä¸Š" />
					<IconCard href="https://zenn.dev/tsumugu" text="Zenn" icon="brands/zenn.png" description="ä½Žæµ®ä¸Š" />
					<IconCard href="https://dev.to/tsumugu" text="dev.to" icon="brands/devto.png" description="ä½¿ã£ã¦ãªã„" />
					<IconCard href="http://www.nicovideo.jp/user/47747351" text="niconico" icon="brands/niconico.png" description="æ˜”æŠ•ç¨¿ã—ã¦ãŸ" />
					<IconCard href="https://www.youtube.com/channel/UC0PuWc8GyBpepfjysWkXukQ/videos" text="YouTube" icon="brands/youtube.png" description="è¦‹ã‚‹å°‚" />
				</div>
			</section>
			<section>
				<h2>Portfolio</h2>
				<div class="IconCardWrapper">
					<IconCard href="https://student.redesigner.jp/students/306a6993e150e5050ea9a22a9a629935" text="ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª" icon="brands/redesigner.svg" description="PDF" />
				</div>
			</section>
		</main>
	</body>
</html>