---
import '../styles/global.css';
import SideNavigation from '../components/SideNav.astro';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tsum.ug | Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&amp;display=swap" rel="stylesheet">
	</head>
	<body>
		<SideNavigation>
      <h1>プロフィール</h1>
      <p>猫とプログラミングが好き</p>
    </SideNavigation>
  </body>
</html>
