---
import '../styles/global.css';
import SideNavigation from '../components/SideNav.astro';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tsum.ug</title>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&amp;display=swap" rel="stylesheet">
	</head>
	<body>
		<SideNavigation>
      <h1>作品</h1>
      <p><a href="https://tsumugu.tech/works">ポートフォリオサイト</a>から引っ越し準備中</p>
      <ul>
        <li><a href="/works/work-1/">Work 1</a></li>
        <li><a href="/works/work-2/">Work 2</a></li>
        <li><a href="/works/work-3/">Work 3</a></li>
      </ul>
    </SideNavigation>
  </body>
</html>
