---
import '../styles/components/sidenav.css';
---
<div class="wrapper">
  <nav>
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/profile/">プロフィール</a></li>
      <li><a href="/works/">作品</a></li>
      <li><a href="/accounts/">アカウント</a></li>
    </ul>
  </nav>
  <main>
    <slot />
  </main>
</div>